<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my flask</title>
</head>

<body>
    
    {#esse e meu cabeçalho#}
    <header><h1> sitename</h1></header>

    <nav>
        <a href="{{ url_for('index') }}">inicio</a>
        <a href="{{ url_for('about') }}">sobre</a>
    </nav>

    <h2>pagina inicial</h2>
    <p> lorem ipsum dolor sit amet consectetur adipisicing elit.Quisquam, quod. Lorem ipsum dolor sit amet consectetur
       facilis! Magni, illum sint. Ducimus tempora dignissimos laboriosam ad, necessitatibus quia voluptatum atque.
       Suscipit, earum.
    </p>

</body>

</html>